/* avatar name */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html
{
    font-family: Arial;
    scroll-behavior: smooth;
}
::-webkit-scrollbar
{
    display: none;
}

:root
{
    --avatar-size : 50vw;
    --avatar-border: 7px;
    --avatar-border-pading: 10px;
    --avatar-name : 'Nguyễn Văn Trung' ;


    /* Màu */
    --facebook: #3f5793;
    --tiktok: #333;
    --youtube:red;
    --web: #ff0058;
    --phone: #35e243;
}
header
{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}
header .avatar
{
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50% , -50%);
}
header .avatar img
{
    width: var(--avatar-size);
    height: var(--avatar-size);
    object-fit: cover;
    border-radius: 50%;
}

header .avatar .border
{    
    position: absolute;
    top: calc(var(--avatar-border-pading) / -2);
    left: calc(var(--avatar-border-pading) / -2);;
    width: calc(var(--avatar-size) + var(--avatar-border-pading));
    height: calc(var(--avatar-size) + var(--avatar-border-pading));
    border-radius: 50%;
    border: var(--avatar-border) dotted #fff;
    animation: border_avatar 10s linear infinite;
}
@keyframes border_avatar {
    from
    {
        transform: rotate(0);
        border: var(--avatar-border) dotted rgb(0, 140, 255);
        
    }
    to
    {
        transform: rotate(360deg);
        border: var(--avatar-border) dotted rgb(0, 255, 64);
    }
}
header .avatar .name::before
{
    
    content: var(--avatar-name);
    position: absolute;
    color: #fff;
    font-size: 34px;
    margin-top: 19px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 4px;
    line-height: 1.2;
}
header .down::before
{
    content: '\f078';
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: #fff;
    font-size: 34px;
    font-family: fontawesome;
    transform: translateX(-50%);
    animation: header_down .78s linear infinite;
}
@keyframes header_down {
    0%
    {
        bottom: 20px;
    }
    80%
    {
        bottom: 15px;
    }
}



#body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
}

.time
{
    display: flex;
}

.trungtime
{
    position: relative;
    background-color: transparent;
    border: 2px solid #333;
    width: 78px;
    height: 78px;
    margin: 10px;
    border-radius: 15px;
}
.trungtime span
{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
.trungtime p
{   
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.card
{
    position: relative;
    width: 80vw;
    height: 120px;
    margin: 10px 0;
    text-align: center;
    line-height: 120px;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px 20px 5px 40px;
}
.card .title a
{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 1.5px;
    white-space: nowrap;
    padding: 40vw 25vw;
    font-weight: 550;
}
.facebook
{
    background-color: var(--facebook);
}
.tiktok
{
    background-color: var(--tiktok);
}
.youtube
{
    background-color: var(--youtube);
}
.phone
{
    background-color: var(--phone);
}
.website
{
    background-color: var(--web); 
}
.footer
{
    color: #333;
    text-decoration: none;

}

.rps
{
    display: none;
}
@media (min-width : 1080px){

    header,
    #body
    {
        display: none;
    }
    .rps
    {
        display: block;
        background-color: #333;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rps h1
    {
        color: #ff0058; 
        font-size: 50px;
        animation: rps 1s linear infinite;
    }
    @keyframes rps {
        from
        {
            color: #ff0058; 
        }
        to
        {
            color: #00ffbf; 
        }
    }
}